  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/Capture.JPG" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            BookShop
          </a>
      <form class="d-flex" role="search">
        <input class="form-control me-auto" (input) = "updateTextSearch($event)" type="text" placeholder="Search for your Book..." aria-label="Search for your Book...">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>